## .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

## Logs
*.log

## OS
.DS_Store
Thumbs.db

## Environment
.env
*.env.local

## IDE
.idea/
*.rsuser
